.App {
  display: grid;
  grid-template-columns: 40rem 1fr;
  height: 100vh;
}

.App-header {
  background-color: #f4f5f6;
  min-height: 40rem;
  color: #606c76;
  padding: 1rem;
  overflow-y: scroll;
}

.App-content {
  overflow-y: scroll;
  padding: 1rem;
  text-align: center;
  display: flex;
}

.App-centered {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.App-title {
  font-size: 1.5em;
}

.App-loading {
  color: #606c76;
}

.App-result {
  max-width: 676px;
  margin: 0 auto;
  flex: 1;
}

.App-result canvas {
  width: 100%;
  height: auto;
}

.App-logo {
  text-align: center;
  padding: 2rem 1rem 0;
}

.App-powered {
  margin-top: 1rem;
}

.App-powered img {
  width: auto;
  height: 3rem;
}

h1,
h4 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
}

h4 {
  margin-top: 1em;
}

h6 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 2rem 0 0 0;
}

form {
  margin: 2em 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: 0.1rem solid #d1d1d1;
  border-right: 0;
  border-radius: 0.4rem;
  padding: 0.6rem 1rem;
  height: 4rem;
  outline: none;
}

button {
  height: 4rem;
  line-height: 4rem;
  padding: 0 1rem;
  white-space: nowrap;
  background-color: #9b4dca;
  border: 0.1rem solid #9b4dca;
  border-radius: 0.4rem;
  color: #fff;
  font-size: 0.8em;
  outline: none;
  cursor: pointer;
}

.App-content button {
  height: 3rem;
  padding: 0 2rem;
}

button:disabled {
  background-color: #cfd0d4;
  border: 0.1rem solid #cfd0d4;
  cursor: not-allowed;
}

form input {
  width: 30rem;
  border-radius: 0.4rem 0 0 0.4rem;
}

form button {
  border-radius: 0 0.4rem 0.4rem 0;
}

.App-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.App-download-button {
  min-height: 2rem;
  line-height: 2rem;
  margin: 0 1rem;
  margin-right: 0.5rem;
}

.App-twitter-button {
  min-height: 2rem;
  line-height: 2rem;
  margin: 0 1rem;
  background-color: rgb(0, 169, 237);
  border: 0;
}

.App-themes label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.App-themes {
  border: 1px solid #cfd0d4;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  padding: 1rem 1rem 2rem;
}

.App-themes h6 {
  margin: -2rem 0 1rem;
}

.App-themes h6 span {
  background-color: #f4f5f6;
  padding: 0 1rem;
}

.App-themes label {
  margin: 0 1rem;
  cursor: pointer;
}

.App-themes label input {
  margin-right: 0.5rem;
}

.Theme-preview {
  width: 22px;
  height: 22px;
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  border-radius: 2px;
  margin: 0 1rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.Theme-preview span {
  display: block;
  width: 9px;
  height: 9px;
}

footer {
  font-size: 1.2rem;
}

footer a {
  color: #606c76;
  text-decoration: none;
}

@media all and (max-width: 500px) {
  .App-header {
    padding: 1rem;
    font-size: 0.9em;
  }

  form {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  form input,
  form button {
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    padding: 0;
    border-radius: 0.4rem;
  }

  form input {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .App-buttons button {
    padding: 0 0.5rem;
  }
}

@media all and (max-width: 970px) {
  .App {
    display: block;
    text-align: center;
  }

  form input {
    flex: 1;
  }

  .App-themes-list {
    display: flex;
    flex-wrap: wrap;
  }
}
