:root {
  --bg: #fff;
  --header-bg: #f4f5f6;
  --button-bg: #9b4dca;
  --button-disabled: #cfd0d4;
  --button-disabled-border: #cfd0d4;
  --button-text: #fff;
  --text: #606c76;
  --loading-text: #606c76;
  --input-border: #d1d1d1;
  --input-text: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #111517;
    --header-bg: rgb(22, 28, 30);
    --text: rgb(164, 157, 145);
    --input-border: rgb(55, 68, 75);
    --button-disabled: rgb(42, 52, 57);
    --button-disabled-border: var(--input-border);
    --loading-text: #rgb(164, 157, 145);
    --input-text: #fff;
  }
}

html {
  color: var(--text);
  background-color: var(--bg);
}

.App {
  display: grid;
  grid-template-columns: 40rem 1fr;
  height: 100vh;
}

.App-header {
  background-color: var(--header-bg);
  min-height: 40rem;
  color: var(--text);
  padding: 1rem;
  overflow-y: scroll;
}

.App-content {
  overflow-y: scroll;
  padding: 1rem;
  text-align: center;
  display: flex;
}

.App-centered {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.App-title {
  font-size: 1.5em;
}

.App-loading {
  color: var(--loading-text);
}

.App-result {
  max-width: 676px;
  margin: 0 auto;
  flex: 1;
}

.App-result canvas {
  width: 100%;
  height: auto;
}

.App-logo {
  text-align: center;
  padding: 2rem 1rem 0;
}

.App-powered {
  margin-top: 1rem;
}

.App-powered img {
  width: auto;
  height: 3rem;
}

h1,
h4 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
}

h4 {
  margin-top: 1em;
}

h6 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 2rem 0 0 0;
}

form {
  margin: 2em 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: 0.1rem solid var(--input-border);
  border-right: 0;
  border-radius: 0.4rem;
  padding: 0.6rem 1rem;
  height: 4rem;
  outline: none;
  color: var(--input-text);
  background-color: var(--bg);
}

button {
  height: 4rem;
  line-height: 4rem;
  padding: 0 1rem;
  white-space: nowrap;
  background-color: var(--button-bg);
  border: 0.1rem solid var(--button-bg);
  border-radius: 0.4rem;
  color: var(--button-text);
  font-size: 0.8em;
  outline: none;
  cursor: pointer;
}

.App-content button {
  height: 3rem;
  padding: 0 2rem;
}

button:disabled {
  background-color: var(--button-disabled);
  border: 0.1rem solid var(--button-disabled-border);
  cursor: not-allowed;
}

form input {
  width: 30rem;
  border-radius: 0.4rem 0 0 0.4rem;
}

form button {
  border-radius: 0 0.4rem 0.4rem 0;
}

.App-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.App-download-button {
  min-height: 2rem;
  line-height: 2rem;
  margin: 0 1rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}

.App-themes label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.App-themes {
  border: 1px solid var(--button-disabled-border);
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  padding: 1rem 1rem 2rem;
}

.App-themes h6 {
  margin: -2rem 0 1rem;
}

.App-themes h6 span {
  background-color: var(--header-bg);
  padding: 0 1rem;
}

.App-themes label {
  margin: 0 1rem;
  cursor: pointer;
}

.App-themes label input {
  margin-right: 0.5rem;
}

.Theme-preview {
  width: 22px;
  height: 22px;
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  border-radius: 2px;
  margin: 0 1rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.Theme-preview span {
  display: block;
  width: 9px;
  height: 9px;
}

footer {
  font-size: 1.2rem;
}

footer a {
  color: var(--text);
  text-decoration: none;
}

@media all and (max-width: 500px) {
  .App-header {
    padding: 1rem;
    font-size: 0.9em;
  }

  form {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  form input,
  form button {
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    padding: 0;
    border-radius: 0.4rem;
  }

  form input {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .App-buttons button {
    padding: 0 0.5rem;
  }
}

@media all and (max-width: 970px) {
  .App {
    display: block;
    text-align: center;
  }

  form input {
    flex: 1;
  }

  .App-themes-list {
    display: flex;
    flex-wrap: wrap;
  }
}
