.App {
  text-align: center;
}

.App-header {
  background-color: #f4f5f6;
  min-height: 40rem;
  color: #606c76;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding: 3rem;
}

.App-loading {
  color: #606c76;
}

.App-result {
  max-width: 676px;
  margin: 0 auto;
}

.App-result canvas {
  width: 100%;
  height: auto;
}

h1,
h4 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h4 {
  margin-top: 1em;
}

form {
  margin: 3em 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: 0.1rem solid #d1d1d1;
  border-right: 0;
  border-radius: .4rem;
  padding: .6rem 1.0rem;
  height: 4rem;
  outline: none;
}

button {
  min-height: 4rem;
  letter-spacing: 0.1rem;
  line-height: 4rem;
  padding: 0 3rem;
  background-color: #9b4dca;
  border: 0.1rem solid #9b4dca;
  border-radius: 0.4rem;
  color: #fff;
  font-size: 0.8em;
  outline: none;
  cursor: pointer;
}

button:disabled {
  background-color: #cfd0d4;
  border: 0.1rem solid #cfd0d4;
  cursor: not-allowed;
}

form input {
  width: 30rem;
  border-radius: 0.4rem 0 0 0.4rem;
}

form button {
  border-radius: 0 0.4rem 0.4rem 0;
}

.App-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.App-download-button {
  min-height: 2rem;
  line-height: 2rem;
  padding: 0 1rem;
  margin: 0 1rem;
  margin-right: 0.5rem;
}

.App-twitter-button {
  min-height: 2rem;
  line-height: 2rem;
  padding: 0 1rem;
  margin: 0 1rem;
  background-color: rgb(0, 169, 237);
  border: 0;
}

.App-themes,
.App-themes label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-themes {
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.App-themes label {
  margin: 0 1rem;
  cursor: pointer;
}

.App-themes label input {
  margin-right: 0.5rem;
}

@media all and (max-width: 500px) {
  .App-header {
    padding: 1rem;
    font-size: 0.9em;
  }

  form {
    flex-direction: column;
  }

  form input,
  form button {
    width: 100%;
    border-radius: 0.4rem;
  }

  form input {
    margin-bottom: 0.5rem;
    text-align: center;
  }
}
